@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER STYLES START */
.site-header {
  position: relative;
  padding-top: 48px;
  padding-bottom: 23px;
}

.site-header--open .site-nav {
  display: flex;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.site-header__menu-btn {
  display: inline-block;
  width: 24px;
  height: 21px;
  background-image: url("../images/hamburger.svg");
  border: none;
  background-color: transparent;
}

.site-nav {
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 327px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 40px 24px;
  background-color: #3A3054;
  border-radius: 10px;
  text-align: center;
}

.site-nav__list {
  margin-bottom: 32px;
  border-bottom: 1px solid #9E9AA8;
  opacity: 0.25;
}

.site-nav__item {
  margin-bottom: 30px;
}

.site-nav__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.site-header__login {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.site-header__signup {
  display: inline-block;
  padding: 12px 104px 9px 104px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
}
.site-header__signup:hover {
  background-color: #9AE3E3;
}

@media only screen and (min-width: 700px) {
  .site-header__menu-btn {
    display: none;
  }
  .site-nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 945px;
    padding: 0;
    background-color: transparent;
    text-align: left;
  }
  .site-header__list-box {
    width: 100%;
    max-width: 265px;
  }
  .site-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: none;
    opacity: 1;
  }
  .site-nav__item {
    margin-bottom: 0;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav__link {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-nav__link:hover {
    color: #34313D;
  }
  .site-header__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 185px;
  }
  .site-header__login {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-header__login:hover {
    color: #34313D;
  }
  .site-header__signup {
    display: inline-block;
    padding: 9px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
  }
}
/* HERO SECTION START */
.hero {
  padding-top: 397px;
  padding-bottom: 168px;
  background-image: url("../images/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 90px) 0px;
}

.hero__inner {
  position: relative;
}

.hero__info {
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.05px;
  color: #34313D;
}

.hero__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}

.hero__link {
  display: inline-block;
  padding: 13px 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.hero__link:hover {
  background-color: #9AE3E3;
}

.hero__form {
  position: absolute;
  top: 130%;
  width: 100%;
  max-width: 1110px;
  padding: 24px;
  background-image: url("../images/hero-input-bgi-desc.svg");
  background-size: cover;
  background-position: top right;
  border-radius: 10px;
  text-align: center;
}

.hero__input {
  display: block;
  width: 100%;
  max-width: 655px;
  margin-bottom: 4px;
  padding: 13px 0 13px 13px;
  border: 3px solid #fff;
  border-radius: 5px;
}
.hero__input::-moz-placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input::placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:placeholder-shown):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ span {
  opacity: 1;
}
.hero__input:not(:-ms-input-placeholder):not(:focus):invalid ~ span {
  opacity: 1;
}
.hero__input:not(:placeholder-shown):not(:focus):invalid ~ span {
  opacity: 1;
}

.hero__input-span {
  display: block;
  margin-bottom: 16px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0818182px;
  color: #F46363;
  text-align: left;
  opacity: 0;
}

.hero__button {
  display: inline-block;
  padding: 10px 94px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  border: none;
  background-color: #2BD0D0;
  border-radius: 5px;
}
.hero__button:hover {
  background-color: #9AE3E3;
}

@media only screen and (max-width: 374px) {
  .site-nav {
    max-width: 300px;
  }
  .site-header__signup {
    padding: 9px 20px;
  }
  .hero__button {
    padding: 10px 67px;
  }
}
@media only screen and (min-width: 750px) {
  .hero {
    padding-top: 116px;
    padding-bottom: 222px;
    background-position: calc(50% + 220px) 55px;
  }
  .hero__info {
    margin: 0;
    text-align: left;
  }
  .hero__form {
    position: absolute;
    top: 130%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1110px;
    padding: 52px 65px;
    padding-bottom: 26px;
    background-image: url("../images/hero-input-bgi-desc.svg");
    background-size: cover;
    background-position: top right;
    border-radius: 10px;
    text-align: center;
  }
  .hero__label {
    width: 64%;
    max-width: 769px;
    margin-right: 24px;
  }
  .hero__input {
    display: block;
    width: 100%;
    max-width: 769px;
    margin-bottom: 8px;
    padding: 21px 0 21px 29px;
    border-radius: 10px;
  }
  .hero__input-span {
    font-size: 12px;
    margin-bottom: 0;
  }
  .hero__button {
    display: inline-block;
    padding: 17px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
  }
}
@media only screen and (min-width: 900px) {
  .hero {
    background-image: url("../images/hero-bg-mobile.svg");
    background-size: 733px 482px;
    background-position: calc(50% + 460px) 55px;
  }
  .hero__info {
    max-width: 563px;
  }
  .hero__title {
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
  }
  .hero__text {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
  }
  .hero__link {
    display: inline-block;
    padding: 13px 40px;
    background: #2BD0D0;
    border-radius: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .hero__form {
    top: 139%;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__label {
    width: 75%;
  }
}
@media only screen and (min-width: 1150px) {
  .hero__label {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */