@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
/* Global styles */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SITE HEADER STYLES START */
.site-header {
  position: relative;
  padding-top: 48px;
  padding-bottom: 23px;
}

.site-header--open .site-nav {
  display: flex;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.site-header__menu-btn {
  display: inline-block;
  width: 24px;
  height: 21px;
  background-image: url("../images/hamburger.svg");
  border: none;
  background-color: transparent;
}

.site-nav {
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 327px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 40px 24px;
  background-color: #3A3054;
  border-radius: 10px;
  text-align: center;
}

.site-nav__list {
  margin-bottom: 32px;
  border-bottom: 1px solid #9E9AA8;
  opacity: 0.25;
}

.site-nav__item {
  margin-bottom: 30px;
}

.site-nav__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.site-header__login {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.site-header__signup {
  display: inline-block;
  padding: 12px 104px 9px 104px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
}
.site-header__signup:hover {
  background-color: #9AE3E3;
}

@media only screen and (min-width: 700px) {
  .site-header__menu-btn {
    display: none;
  }
  .site-nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 945px;
    padding: 0;
    background-color: transparent;
    text-align: left;
  }
  .site-header__list-box {
    width: 100%;
    max-width: 265px;
  }
  .site-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: none;
    opacity: 1;
  }
  .site-nav__item {
    margin-bottom: 0;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav__link {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-nav__link:hover {
    color: #34313D;
  }
  .site-header__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 185px;
  }
  .site-header__login {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-header__login:hover {
    color: #34313D;
  }
  .site-header__signup {
    display: inline-block;
    padding: 9px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
  }
}
/* HERO SECTION START */
.hero {
  padding-top: 397px;
  padding-bottom: 168px;
  background-image: url("../images/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 90px) 0px;
}

.hero__inner {
  position: relative;
}

.hero__info {
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.05px;
  color: #34313D;
}

.hero__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}

.hero__link {
  display: inline-block;
  padding: 13px 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.hero__link:hover {
  background-color: #9AE3E3;
}

.hero__form {
  position: absolute;
  top: 130%;
  width: 100%;
  max-width: 1110px;
  padding: 24px;
  background-image: url("../images/hero-input-bgi-desc.svg");
  background-size: cover;
  background-position: top right;
  border-radius: 10px;
  text-align: center;
}

.hero__input {
  display: block;
  width: 100%;
  max-width: 655px;
  margin-bottom: 4px;
  padding: 13px 0 13px 13px;
  border: 3px solid #fff;
  border-radius: 5px;
}
.hero__input::-moz-placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input::placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.hero__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:placeholder-shown):not(:focus):invalid {
  color: #F46363;
  border-color: #F46363;
}
.hero__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ span {
  opacity: 1;
}
.hero__input:not(:-ms-input-placeholder):not(:focus):invalid ~ span {
  opacity: 1;
}
.hero__input:not(:placeholder-shown):not(:focus):invalid ~ span {
  opacity: 1;
}

.hero__input-span {
  display: block;
  margin-bottom: 16px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0818182px;
  color: #F46363;
  text-align: left;
  opacity: 0;
}

.hero__button {
  display: inline-block;
  padding: 10px 94px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  border: none;
  background-color: #2BD0D0;
  border-radius: 5px;
}
.hero__button:hover {
  background-color: #9AE3E3;
}

@media only screen and (max-width: 374px) {
  .site-nav {
    max-width: 300px;
  }
  .site-header__signup {
    padding: 9px 20px;
  }
  .hero__button {
    padding: 10px 67px;
  }
}
@media only screen and (min-width: 750px) {
  .hero {
    padding-top: 116px;
    padding-bottom: 222px;
    background-position: calc(50% + 220px) 55px;
  }
  .hero__info {
    margin: 0;
    text-align: left;
  }
  .hero__form {
    position: absolute;
    top: 130%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1110px;
    padding: 52px 65px;
    padding-bottom: 26px;
    background-image: url("../images/hero-input-bgi-desc.svg");
    background-size: cover;
    background-position: top right;
    border-radius: 10px;
    text-align: center;
  }
  .hero__label {
    width: 64%;
    max-width: 769px;
    margin-right: 24px;
  }
  .hero__input {
    display: block;
    width: 100%;
    max-width: 769px;
    margin-bottom: 8px;
    padding: 21px 0 21px 29px;
    border-radius: 10px;
  }
  .hero__input-span {
    font-size: 12px;
    margin-bottom: 0;
  }
  .hero__button {
    display: inline-block;
    padding: 17px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
  }
}
@media only screen and (min-width: 900px) {
  .hero {
    background-image: url("../images/hero-bg-mobile.svg");
    background-size: 733px 482px;
    background-position: calc(50% + 460px) 55px;
  }
  .hero__info {
    max-width: 563px;
  }
  .hero__title {
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
  }
  .hero__text {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
  }
  .hero__link {
    display: inline-block;
    padding: 13px 40px;
    background: #2BD0D0;
    border-radius: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .hero__form {
    top: 132%;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__label {
    width: 75%;
  }
}
@media only screen and (min-width: 1150px) {
  .hero__label {
    width: 100%;
  }
}
/* Statistic section start */
.statistic {
  padding-top: 160px;
  padding-bottom: 1174px;
  background-color: #EFF1F7;
}

.statistic__inner {
  position: relative;
  z-index: 1;
}

.statistic__info {
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.statistic__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.7px;
  color: #34313D;
}

.statistic__text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.109091px;
  color: #9E9AA8;
}

.statistic__list {
  position: absolute;
  max-width: 550px;
  top: 161%;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.statistic__list::before {
  content: "";
  position: absolute;
  top: 541px;
  left: -391px;
  z-index: 1;
  width: 1110px;
  height: 8px;
  background-image: url("../images/list-bg.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-size: 1014px 8px;
}

.statistic__item {
  position: absolute;
  z-index: 2;
  max-width: 100%;
  padding: 77px 32px 41px 32px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.statistic__item::before {
  content: "";
  position: absolute;
  top: -44px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 88px;
  height: 88px;
  background-image: url("../images/brand.svg");
  background-repeat: no-repeat;
}

.statistic__item:nth-child(2) {
  top: 359px;
}

.statistic__item:nth-child(3) {
  top: 735px;
}

.statistic__item:nth-child(2)::before {
  background-image: url("../images/detailed.svg");
}

.statistic__item:nth-child(3)::before {
  background-image: url("../images/fully.svg");
}

.statistic__heading {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}

.statistic__desc {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
}

@media only screen and (max-width: 375px) {
  .statistic__list::before {
    left: -418px;
  }
  .statistic__item {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 420px) {
  .statistic__list::before {
    left: -370px;
    background-size: 900px 8px;
  }
}
@media only screen and (min-width: 451px) {
  .statistic__item:nth-child(2) {
    top: 330px;
  }
  .statistic__item:nth-child(3) {
    top: 660px;
  }
}
@media only screen and (min-width: 480px) {
  .statistic__list::before {
    left: -340px;
  }
}
@media only screen and (min-width: 530px) {
  .statistic__list::before {
    left: -313px;
    background-size: 800px 8px;
  }
}
@media only screen and (min-width: 600px) {
  .statistic__list::before {
    left: -282px;
  }
}
@media only screen and (min-width: 1100px) {
  .statistic {
    padding-top: 204px;
    padding-bottom: 575px;
    background-color: #EFF1F7;
  }
  .statistic__info {
    max-width: 540px;
  }
  .statistic__title {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }
  .statistic__text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.122727px;
  }
  .statistic__list {
    position: absolute;
    width: 100%;
    max-width: 1110px;
    top: 172%;
  }
  .statistic__list::before {
    top: 153px;
    left: 20px;
    max-width: 900px;
    transform: rotate(0);
    background-size: 900px 8px;
  }
  .statistic__item {
    position: absolute;
    z-index: 2;
    max-width: 350px;
    border-radius: 5px;
    text-align: left;
  }
  .statistic__item::before {
    left: 32px;
    margin: 0;
  }
  .statistic__item:nth-child(2) {
    top: 44px;
    left: 34%;
  }
  .statistic__item:nth-child(3) {
    top: 88px;
    left: 68%;
  }
}
/* Links section start */
.links {
  padding: 90px 0;
  background-image: url("../images/links-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.links__info {
  text-align: center;
}

.links__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.7px;
  color: #FFFFFF;
}

.links__link {
  display: inline-block;
  padding: 14px 40px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
}
.links__link:hover {
  background-color: #9AE3E3;
}

@media only screen and (min-width: 600px) {
  .links {
    padding: 57px 0;
  }
  .links__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }
}
.site-footer {
  padding-top: 54px;
  padding-bottom: 56px;
  background-color: #232127;
}

.site-footer__inner {
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 50px;
}

.site-footer__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

.site-footer__box {
  margin-bottom: 40px;
}

.site-footer__box:last-child {
  margin-bottom: 48px;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.site-footer__link {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
}
.site-footer__link:hover {
  color: #2BD0D0;
}

.site-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 168px;
  margin: 0 auto;
}

.site-footer__social-link {
  color: #FFFFFF;
}
.site-footer__social-link:hover {
  color: #2BD0D0;
}

@media only screen and (min-width: 576px) {
  .site-footer-tablet-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .site-footer {
    padding-top: 71px;
    padding-bottom: 70px;
  }
  .site-footer__inner {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
  .footer-logo {
    margin-bottom: 0;
    margin-right: auto;
  }
  .site-footer-tablet-box {
    margin: 0;
  }
  .site-footer__box {
    margin-bottom: 0;
  }
  .site-footer__lists-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
    margin-right: 100px;
  }
  .site-footer__box {
    margin-bottom: 0;
  }
  .site-footer__box:last-child {
    margin-bottom: 0;
  }
  .site-footer__social {
    width: 100%;
    margin: 0;
  }
  .site-footer__social-link {
    color: #FFFFFF;
  }
  .site-footer__social-link:hover {
    color: #2BD0D0;
  }
}/*# sourceMappingURL=main.css.map */