/* Statistic section start */

.statistic {
	padding-top: 160px;
	padding-bottom: 1174px;
	background-color: #EFF1F7;
}

.statistic__inner {
	position: relative;
	z-index: 1;
}

.statistic__info {
	max-width: 327px;
	margin: 0 auto;
	text-align: center;
}



.statistic__title {
	margin: 0;
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 28px;
	line-height: 48px;
	letter-spacing: -0.7px;
	color: #34313D;
}

.statistic__text {
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.109091px;
	color: #9E9AA8;
}

.statistic__list {
	position: absolute;
	max-width: 550px;
	top: calc(161%);
	right: 0;
	left: 0;
	margin: 0 auto;

	&::before {
		content: "";
		position: absolute;
		top: 541px;
		left: -391px;
		z-index: 1;
		width: 1110px;
		height: 8px;
		background-image: url("../images/list-bg.svg");
		background-repeat: no-repeat;
		transform: rotate(90deg);
		background-size: 1014px 8px;
	}
}

.statistic__item {
	position: absolute;
	z-index: 2;
	max-width: 100%;
	padding: 77px 32px 41px 32px;
	background-color: #FFFFFF;
	border-radius: 5px;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		top: -44px;
		right: 0;
		left: 0;
		margin: 0 auto;
		display: block;
		width: 88px;
		height: 88px;
		background-image: url("../images/brand.svg");
		background-repeat: no-repeat;
	}
}

.statistic__item:nth-child(2) {
	top: 359px;
}

.statistic__item:nth-child(3) {
	top: 735px;
}

.statistic__item:nth-child(2)::before {
	background-image: url("../images/detailed.svg");
}

.statistic__item:nth-child(3)::before {
	background-image: url("../images/fully.svg");
}

.statistic__heading {
	margin: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	color: #34313D;
}

.statistic__desc {
	margin: 0;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	color: #9E9AA8;
}

@media only screen and (max-width: 375px) {
	.statistic__list {
		&::before {
			left: -418px;
		}
	}

	.statistic__item {
		padding-right: 0;
		padding-left: 0;
	}
}

@media only screen and (min-width: 420px) {
	.statistic__list {
		&::before {
			left: -370px;
			background-size: 900px 8px;
		}
	}
}

@media only screen and (min-width: 451px) {
	.statistic__item:nth-child(2) {
		top: 330px;
	}

	.statistic__item:nth-child(3) {
		top: 660px;
	}
}

@media only screen and (min-width: 480px) {
	.statistic__list {
		&::before {
			left: -340px;

		}
	}
}

@media only screen and (min-width: 530px) {
	.statistic__list {
		&::before {
			left: -313px;
			background-size: 800px 8px;
		}
	}
}

@media only screen and (min-width: 600px) {
	.statistic__list {
		&::before {
			left: -282px;

		}
	}
}

@media only screen and (min-width: 1100px) {
	.statistic {
		padding-top: 204px;
		padding-bottom: 575px;
		background-color: #EFF1F7;
	}

	.statistic__info {
		max-width: 540px;
	}

	.statistic__title {
		margin-bottom: 18px;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -1px;
	}

	.statistic__text {
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 0.122727px;
	}

	.statistic__list {
		position: absolute;
		width: 100%;
		max-width: 1110px;
		top: calc(172%);
	
		&::before {	
			top: 153px;
			left: 20px;
			max-width: 900px;
			transform: rotate(0);
			background-size: 900px 8px;
		}
	}

	.statistic__item {
		position: absolute;
		z-index: 2;
		max-width: 350px;	
		border-radius: 5px;
		text-align: left;
	
		&::before {
			left: 32px;
			margin: 0;
		}
	}

	.statistic__item:nth-child(2) {
		top: 44px;
		left: 34%;	
	}
	
	.statistic__item:nth-child(3) {
		top: 88px;
		left: 68%;
	}	
}